/*
 * Letter styling 
 */
#letters button {
	color:white;
}

#letters button.clicked {
	color:black;
}

#guesses li {
	width:33px;
}

/*
 * Win and Loss styling
 */
p.lead {
	position:relative;
	top:16px;
}
#wins, #losses {
	margin:0 5px;
}

.bg-loss {
	background-color:black;
}

.bg-help {
	background-color:orange;
}

span.glyphicon {
	float:right;
	cursor: pointer;
}

/*
 * Game over highlight
 */
.game-over {
	background-color:black;
}

/*
 * Invisible game messages
 */
.invisible {
	visibility:hidden !important;
}
