extends layout

block content
	.site-wrapper
		.site-wrapper-inner
			.cover-container
				.masthead.clearfix
					.inner
						h3.masthead-brand Hangman 
				.inner.cover
					p.lead
						| Wins : 
						span(id='wins') #{wins}  
						| | 
						span(style="margin-left:5px")
							| Losses : 
						span(id='losses') #{losses} 
						span(class="glyphicon glyphicon-info-sign")
					p.bg-primary.invisible
						|	Congrats on your win!
					p.bg-loss.invisible
						| Sorry buddy, try again.
					p.bg-help.invisible
						| Guess a letter by clicking or using your keyboard. Each round ends after 10 incorrect guesses or when you fill in all blanks.
					canvas(id="canvas" style="border:1px solid white" width="400" height="350")
					hr
					div#letters
						- for (var i = 0; i < letters.length; i++)
							button.btn.btn-link(type="button" id='#{letters[i]}') 
								| #{letters[i]} 
					hr
					br
					ul(id='guesses' class='list-inline list-unstyled')
